In [1]:
import nltk
import spacy
import gensim
import numpy as np
import pandas as pd
import os
from tqdm import tqdm

In [2]:
data_path = './new_data/'
from spacy.tokens.doc import Doc
nlp = spacy.load("en_core_web_sm")
from spacy.lang.en.stop_words import STOP_WORDS
from string import punctuation
from collections import Counter
stop_words = list(STOP_WORDS)
legal_stop_words = ['petitioner','petition','respondent','respondents','court','appellant','appellants','appeal','trial']

In [3]:
def remove_stopwords(text):
    keywords = []
    doc = nlp(text)
    for token in doc:
        if(token.text not in STOP_WORDS ):
                keywords.append(token.text)
    return ' '.join(keywords)

In [4]:
def remove_punctuation(text):
    keywords = []
    doc = nlp(text)
    for token in doc:
        if(token.text not in punctuation ):
                keywords.append(token.text)
    return ' '.join(keywords)

In [5]:
def remove_legalwords(text):
    keywords = []
    doc = nlp(text)
    for token in doc:
        if(token.text not in legal_stop_words ):
                keywords.append(token.text)
    return ' '.join(keywords)

In [36]:
alldoc_processed = pd.DataFrame(columns=["filename","text"])

In [30]:
def preprocess(data_path):
    filename = ""
    for textfile in tqdm(os.listdir(data_path)):
        filename = os.path.join(data_path,textfile)
        f = open(filename,'r',encoding='iso-8859-15')
        text = f.read()
        text = text.lower()
        text = remove_stopwords(text)
       # text = remove_punctuation(text)
        text = remove_legalwords(text)
        alldoc_processed.loc[len(alldoc_processed)] = [filename,text]
        
    return

In [38]:
preprocess(data_path)

100%|██████████| 9372/9372 [2:41:37<00:00,  1.03s/it]

In [40]:
alldoc_processed.head()

,filename,text
0,./new_data/1962_166769.txt,presented applications set ...
1,./new_data/1987_1832926.txt,convicted high contempt order sentenced f...
2,./new_data/1986_779020.txt,purport effect impugned notificatio...
3,./new_data/1973_882228.txt,"m. m. kshatriya , ( w.p . \n p. k. ch..."
4,./new_data/1971_1272668.txt,public limited company owning running in...

In [43]:
pd.DataFrame.to_csv(alldoc_processed,'alldoc_processed.csv')

In [16]:
df = pd.read_csv('alldoc_processed.csv')

In [17]:
df.head()

,Unnamed: 0,filename,text,text2
0,0,./new_data/1962_166769.txt,presented applications set ...,presented applications set ...
1,1,./new_data/1987_1832926.txt,convicted high contempt order sentenced f...,convicted high contempt order sentenced ...
2,2,./new_data/1986_779020.txt,purport effect impugned notificatio...,purport effect impugned notifica...
3,3,./new_data/1973_882228.txt,"m. m. kshatriya , ( w.p . \n p. k. ch...",m. m. kshatriya w.p \n p. k. chatt...
4,4,./new_data/1971_1272668.txt,public limited company owning running in...,public limited company owning running ...

In [11]:
df['text2'] =np.nan

In [13]:
for i in tqdm(range(len(df))):
    text = df['text'][i]
    text = remove_punctuation(text)
    df['text2'][i] = text

  0%|          | 0/9372 [00:00<?, ?it/s]/tmp/ipykernel_8858/221827822.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['text2'][i] = text
100%|██████████| 9372/9372 [55:10<00:00,  2.83it/s]

In [14]:
df.head()

,Unnamed: 0,filename,text,text2
0,0,./new_data/1962_166769.txt,presented applications set ...,presented applications set ...
1,1,./new_data/1987_1832926.txt,convicted high contempt order sentenced f...,convicted high contempt order sentenced ...
2,2,./new_data/1986_779020.txt,purport effect impugned notificatio...,purport effect impugned notifica...
3,3,./new_data/1973_882228.txt,"m. m. kshatriya , ( w.p . \n p. k. ch...",m. m. kshatriya w.p \n p. k. chatt...
4,4,./new_data/1971_1272668.txt,public limited company owning running in...,public limited company owning running ...

In [15]:
pd.DataFrame.to_csv(df,'alldoc_processed.csv',index=False)